<div>
  <h1> Customer Form </h1>
  <div> <input #name type="text" placeholder="Name" /> </div>
  <div> <input #id type="text" placeholder="Id" /> </div>
  <div> <input #company type="text" placeholder="Company" /> </div>
  <div> <input type="button" value="Save" (click)="onAddCustomer({Name:name.value, Id: id.value, Company : company.value })" />    </div>
  <br/>
  <div *ngFor="let item of customer.customerList">
    <div><span>{{item.Name}}</span></div>
    <div><span>{{item.Id}}</span></div>
    <div><span>{{item.Company}}</span></div>
  </div>
</div>